* {
    margin: 0;
    background-color: #FEC7D7;
}

body {
    text-align: center;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 625px;
    margin: auto;
}

.logo {
    animation: logo 10s ease-out 1;
}

@keyframes logo {
    0% {
        opacity: 0;
        transform: scale(0.2) translateY(-0.75em);
    }
    20% {
        opacity: 1;
    }
    89% {
        opacity: 1;
        transform: scale(1.3);
    }
    100% {
        opacity: 0;
    }
}

@media only screen and (max-width: 768px) {
    div {
        height: 700px;
    }
}